{% extends 'dashboard/base.html.twig' %}

{% block title %}{{ 'users.create'|trans }}{% endblock %}

{% block main %}
<div class="jumbotron">
    <h1 class="display-1 text-center">{{ 'users.create'|trans }}</h1>

    <div class="container">
        <div class="card card-custom">
            <div class="card-body">
                {{ include('dashboard/users/_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
