{% extends 'base.html.twig' %}


{% block title %}Cobalto Admin Dashboard{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block body %}



{#    <div id="wrapper">#}
{#                {% include 'dashboard/components/sidebar.html.twig' %}#}
{#        <div id="content-wrapper" class="d-flex flex-column">#}

{#            <div id="content">#}

{#                <!-- Begin Page Content -->#}
{#                <div class="container-fluid">#}

{#                    {% block content %}#}




{#                    {% endblock %}#}

{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
