{% extends 'base.html.twig' %}


{% block title %}Cobalto Admin Dashboard{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block body %}

    {% include 'dashboard/components/navbar.html.twig' %}
    {% include 'dashboard/components/sidebar.html.twig' %}

    <main class="mt-5 pt-3">

        <div class="container-fluid">

        {% block main %}
        {% endblock %}
        </div>

    </main>


{% endblock %}
