@import "~bootstrap";
@import "~datatables.net-dt";
@import "~bootstrap-icons/font/bootstrap-icons.css";
/*@import "";*/


:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px
}

.sidebar-nav {
    width: var(--offcanvas-width) !important;
}
.sidebar-link {
    display: flex !important;
    align-items: center !important;
}

.sidebar-link .right-icon {
    display: inline-flex !important;
    transition: all ease 0.25s !important;
}
.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

@media (min-width: 992px) {

    body {
        overflow: auto !important;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
    .offcanvas-backdrop {
        display: none;
    }
    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight)) !important;
    }
}

.artwork-image {
    margin-left: 80px;
    width: 200px; /* larghezza desiderata del box */
    height: 200px; /* altezza desiderata del box */
    overflow: hidden; /* per assicurarsi che le immagini non escano dal box */
    position: relative; /* per utilizzare object-fit in modo corretto */
}

.artwork-image img {
    margin-top: 10px;
    /*margin-left: 40px;*/
    width: 100%; /* rende l'immagine adattabile alla larghezza del box */
    height: 100%; /* rende l'immagine adattabile all'altezza del box */
    object-fit: cover; /* ridimensiona l'immagine per coprire l'intero box */
    position: absolute; /* per utilizzare object-fit in modo corretto */
    top: 0; /* posiziona l'immagine in alto */
    left: 0; /* posiziona l'immagine a sinistra */
}

