@import "~bootstrap";
@import "~datatables.net-dt";
@import "~bootstrap-icons/font/bootstrap-icons.css";
/*@import "";*/


:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px
}

.sidebar-nav {
    width: var(--offcanvas-width) !important;
}
.sidebar-link {
    display: flex !important;
    align-items: center !important;
}

.sidebar-link .right-icon {
    display: inline-flex !important;
    transition: all ease 0.25s !important;
}
.sidebar-link[aria-expanded="true"] .right-icon {
    transform: rotate(180deg);
}

@media (min-width: 992px) {

    body {
        overflow: auto !important;
    }
    main{
        margin-left: var(--offcanvas-width);
    }
    .offcanvas-backdrop {
        display: none;
    }
    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight)) !important;
    }
}

.image-container {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.image-container a {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

input[readonly] {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: not-allowed;
}

.tox .tox-edit-area__iframe {
    background-color: #e9ecef !important;  /* Light grey background */
    color: #6c757d !important;             /* Grey text color */
    cursor: not-allowed !important;        /* Not-allowed cursor */
}


