<div class="sidebar p-3">
    <h4>Cobalto Dashboard</h4>
    <nav class="nav flex-column">
        <a class="nav-link" href="{{ path('admin_users_list') }}">Users</a>
        <a class="nav-link" href="#">Link 1</a>
        <a class="nav-link" href="#">Link 2</a>
        <a class="nav-link" href="#">Link 3</a>
    </nav>
</div>