<nav class="navbar navbar-expand-lg navbar-dark navbar-cobalt">
    <div class="container">
        <a class="navbar-brand" href="#">Cobalto Poetry</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_home' %}active{% endif %}" aria-current="page" href="{{ path('app_home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_events' %}active{% endif %}" href="{{ path('app_events') }}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') ~ '#content-section' }}">Artists</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
