<form method="post" action="{{ path('admin_artists_delete', {'id': artist.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artist.id) }}">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-danger" id="confirmDelete">Delete</button>
</form>
