{% extends 'dashboard/base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block content %}
    <h1>Create new Artist</h1>

    {{ include('dashboard/artists/_form.html.twig') }}

    <a href="{{ path('admin_artists_list') }}">back to list</a>
{% endblock %}
