<form method="post" action="{{ path('admin_events_delete', {'id': event.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-danger" id="confirmDelete">Delete</button>
</form>
